<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="2.3.55.2" targetFramework="net46" />
  <package id="CsvHelper" version="6.0.2" targetFramework="net46" />
  <package id="Storage.ClientSDK" version="4.1.117" targetFramework="net46" />
  <package id="Storage.ClientSDK.Contracts" version="4.1.117" targetFramework="net46" />
</packages>